@border-color:        #e7e7eb; 
.ant-tabs-nav-list{
    padding-left: 20px;
    padding-right: 20px;
    .ant-tabs-tab{
        margin-right: 20px;
        font-weight: 600;
        
    }

}

.GraphSettingSideBar{
    flex:1;
    padding-top: 20px;
    border-right: 1px solid @border-color;
    .valueWrapper{
        display: flex;
        padding: 8px;
        border-bottom: 1px solid @border-color;
        .valueTitle{
            padding-left: 4px;
            
            width: 50%;
            
        }
        
    }
    .graphButtonContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 16px;
        padding-left: 12px;
        padding-bottom: 4px;
        border-bottom: 1px solid @border-color;
        .graphButton{
            width: 25%;
            padding-bottom: 12px;
            padding-right: 12px;
            img{
                width: 100%;
            }
            cursor: pointer;
          
        }
        .selectedButton{
            img{
                border: 2px solid #3467eb;
            }
            
        }            
        

    }
    
}