@border-color:        #e7e7eb; 
.GraphSettingSideBar{
    flex:1;
    padding-top: 32px;
    border-right: 1px solid @border-color;
    .titleContainer{
        font-weight: 700;
        padding-left: 32px;
        padding-bottom: 23px;
        border-bottom: 1px solid @border-color;

    }
    .graphButtonContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 16px;
        padding-left: 12px;
        padding-bottom: 4px;
        border-bottom: 1px solid @border-color;
        .graphButton{
            width: 25%;
            padding-bottom: 12px;
            padding-right: 12px;
            img{
                width: 100%;
            }
            cursor: pointer;
          
        }
        .selectedButton{
            img{
                border: 2px solid #3467eb;
            }
            
        }            
        

    }
    
}